@use '../customs' as *;
#navbar-top{
 font-family: Merriweather;
 font-size: 2.5rem;
 padding: 1rem 0;
 background-color: rgba(255, 255, 255, 0.795);
 
 @include media-breakpoint-down(sm){
    font-size: 1.5rem;
    
 }
    a {
        color: rgba(46, 45, 45, 0.863);
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.15em;
        
        display: inline-block;
        padding: 0px 2rem;
        position: relative;

        
      }
    a:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 3px;
        left: 50%;
        position: absolute;
        background:  rgba(46, 45, 45, 0.863);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      a:hover:after { 
        width: 100%; 
        left: 0; 
      }
      @media screen and (max-height: 300px) {
          ul {
              margin-top: 40px;
          }
      }
};